/*general*/

:root {
	--kv: 8px;
	--line_height: calc(13px*1.2);
	--opacity: .333;
	--transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
}

body {
	margin: 0;
	padding: 0;
	background-color: #0b0b0b;
}

body.fixed {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

img,
video {
	display: block;
	width: auto;
	height: 100%;
	object-fit: cover;
	transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate3d(0,0,0);
}

/*fonts*/

@font-face {
	font-family: 'Authentic Sans 90';
	src: url('fonts/authentic-sans-90.otf') format('opentype');
}

@font-face {
	font-family: 'Authentic Sans 130';
	src: url('fonts/authentic-sans-130.otf') format('opentype');
}

a {
	all: unset;
	cursor: pointer;
}

a {
	display: block;
}

h1,
h2,
p,
span,
a,
::before {
	font-family: "Authentic Sans 130", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin: 0;
	padding: 0;
	color: white;
	letter-spacing: -.02em;
	/* line-height: var(--line_height); */
}

/*general*/

header {
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 1s;
	z-index: 99;
	padding: 8px;
}

header:before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	/* backdrop-filter: blur(20px); */
	/* mask-image: linear-gradient(to bottom, black 50%, transparent 100%); */
	height: 0;
	background-image: linear-gradient(
		black,
		rgba(0,0,0,.66) 25%,
		rgba(0,0,0,.16) 75%,
		transparent
	);
	/* background-color: rgba(0, 0, 0, .333); */
	transition: var(--transition);
}

header.active:before {
	height: 50vh;
}

header>* {
	flex: 1;
	display: flex;
}

header>*>* {
	display: flex;
	width: fit-content;
}

header>*:nth-child(2) {
	flex-grow: 5;
}

header>*:nth-child(3) {
	justify-content: end;
}

#logo div {
	overflow: hidden;
	transition: max-width .666s;
}

#last-name {
	transition: padding .666s;
}

#zz {
	text-transform: uppercase;
}

header:hover #last-name {
	padding-left: .3em;
}

#nav,
#size,
.buttons {
	gap: 3px;
}

#nav>*,
#size>* {
	transition: opacity .666s;
}

#nav>*:not(:first-child),
#size>* {
	opacity: calc(1/3);
}

#nav>*:hover,
#size>*:hover {
	opacity: 1!important;
}

#size div {
	display: flex;
}

/* #size * {
	text-transform: uppercase;
} */

#size {
	overflow: hidden;
	transition: var(--transition);
	max-height: var(--line_height);
	align-items: flex-start;
}

/* #size .hidden {
	overflow: hidden;
	transition: max-width 1s;
} */

#size.hide {
	max-height: 0;
}

#size>*.active {
	opacity: 1;
}

/*feed*/

#feed {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 3px;
	transition: var(--transition);
}

#feed.about .post {
	pointer-events: none;
}

.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	transition: .666s;
}

.post img {
	height: 27.5vh;
}

.post.active {
	overflow: scroll;
}

.post.active img {
	height: 33.333vh;
}

.post.open img {
	height: 75vh;
}

.cover {
	position: relative;
}

.media {
	display: flex;
	gap: 3px;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 3px;

	opacity: 0;
	transition: .666s;
}

.post.active .media {
	opacity: 1;
}

.post.hide {
	opacity: .2;
}

.caption {
	position: sticky;
	padding: 0 var(--kv);
	left: 0;
	display: flex;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: .666s;
}

.caption>* {
	flex: 1;
}

.caption .title {
	flex-grow: 3;
}

.post.active:not(.open) .caption {
	height: 30px;
	padding: var(--kv);
}

.post.open .caption {
	height: 0;
	padding: 0 var(--kv);
}

/*buttons*/

.buttons>*:not(:last-child) *:after,
#nav>*:not(:last-child):after,
#size>*:not(:last-child):after {
	content: ", ";
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
}

#nav:hover >*:after,
#size:hover >*:after,
.buttons:hover >* *:after {
	opacity: 0;
}

/*responsive*/

@media (max-width: 1024px) {
	
	/* :root {
		--line_height: calc(13px*1.1);
	}

	h1,
	h2,
	p,
	span,
	a,
	::before {
		font-size: 13px;
	} */

	img,
	video {
		width: 100%;
		height: auto;
	}

	/* header {
		gap: 11px;
	} */

	/* header>* {
		flex: 0;
	} */

	header>*:nth-child(2) {
		flex-grow: 1;
	}

	#feed {
		flex-direction: column;
		width: 100vw;
		height: 100dvh;
	}

	.media {
		flex-direction: column;
		cursor: auto;
	}

	#list {
		width: 100vw;
	}

	#list>*>*:last-child {
		text-align: right;
	}

	.content {
		flex-direction: column;
		align-items: start;
		width: 100vw;
		z-index: 9999999;
		padding: 8px;
		pointer-events: none;
	}

	.content .buttons {
		padding-left: 66vw;
	}

	.content .buttons>* {
		pointer-events: all;
	}

	.excerpt {
		margin-bottom: calc(var(--line_height) * 2);
	}

	#contact>* {
		flex-direction: column;
		justify-content: end;
	}

	#contact>*>* {
		flex: 0;
	}

}