/*general*/

:root {
	--key_value: 0px;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

img,
video {
	display: block;
	width: auto;
	height: 100%;
	object-fit: cover;
	transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

/*fonts*/

@font-face {
	font-family: 'Authentic Sans 90';
	src: url('fonts/authentic-sans-90.otf') format('opentype');
}

@font-face {
	font-family: 'Authentic Sans 130';
	src: url('fonts/authentic-sans-130.otf') format('opentype');
}

@font-face {
	font-family: 'Ronzino';
	src: url('fonts/Ronzino-Medium.otf') format('opentype');
}

h1,
h2,
p {
	font-family: 'Authentic Sans 90';
	font-size: 21px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: white;
}

h2 {
	font-family: 'Authentic Sans 130';
	font-size: 9px;
}

p {
	font-family: 'Authentic Sans 130';
	font-size: 14px;
}

a {
	all: unset;
	cursor: pointer;
}

/*general*/

header {
	/* padding: 10px; */
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 1s;
	z-index: 99;
	gap: 3px;
}

header::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	backdrop-filter: blur(20px);
	mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	height: 100%;
}

header.hover {
	padding-bottom: 200px;
}

header>* {
	flex: 1;
	padding: 8px;
	/* mix-blend-mode: difference; */
}

header>*>* {
	display: flex;
	width: fit-content;
}

#logo div {
	overflow: hidden;
	transition: max-width .666s;
}

#last-name {
	transition: padding .666s;
}

#zz {
	text-transform: uppercase;
}

header:hover #last-name {
	padding-left: .3em;
}

#nav {
	gap: 3px;
}

#size {
	gap: 1px;
}

#nav>*,
#size>* {
	transition: opacity .666s;
}

#nav>*:not(:first-child),
#size>*:not(:first-child) {
	opacity: calc(1/3);
}

#nav>*:hover,
#size>*:hover {
	opacity: 1!important;
}

#size div {
	display: flex;
}

/* #size * {
	text-transform: uppercase;
} */

#size .hidden {
	overflow: hidden;
	transition: max-width 1s;
}

/*gallery*/

#gallery-container {
	width: 100vw;
	overflow: scroll;
}

#gallery {
	display: flex;
	width: fit-content;
	align-items: flex-end;
	height: 100vh;
	gap: 3px;
	padding: 0 3px;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
}

.post {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	transition: all 1s;
	align-items: flex-start;
	position: relative;
	height: 100%;
}

/* #gallery img.small {
	width: 100%;
	height: auto;
} */

body::-webkit-scrollbar	{
	display: none;
}

.fields {
	position: sticky;
	bottom: calc(8px + 3px);
	left: 3px;
	padding-left: 8px;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
	height: 0;
}

.fields * {
	white-space: nowrap;
}

.fields.hidden {
	transform: translateY(20vh);
	width: 0;
	padding-left: 0;
}

.fields.info {
	transform: translateY(20vh);
}

.media {
	display: flex;
	align-items: flex-end;
	height: 100%;
	transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
	gap: 0px;
}

.media.gap {
	gap: 3px;
}

/* .media>img:not(:first-child) {
	max-width: 0;
} */

#blur-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
	z-index: 99;
	height: 10%;
}

#blur-footer::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	backdrop-filter: blur(20px);
	mask-image: linear-gradient(to top, black 50%, transparent 100%);
	height: 100%;
}

/*list*/

#list {
	position: fixed;
	top: 100px;
	left: 0;
	margin: 8px;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
	width: 100%;
	opacity: 0;
	transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
}

#list>* {
	flex: 0 1 calc(100% / 6);
}

#list>* p:last-child {
	margin-bottom: 3em;
}

/*info*/

#info-container {
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 99999;
}

#info-fields {
	display: flex;
	gap: 32px;
	height: 0;
	overflow: hidden;
	transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
}

#info-fields>* {
	flex: 1;
	/* padding: 0 8px; */
}

#info-fields>*:first-child {
	flex-grow: 2;
}

#info-fields h2 {
	margin-bottom: 1em;
}

#contact {
	display: flex;
	gap: 8px;
	position: fixed;
	z-index: 99999;
	width: 100%;
	bottom: 0;
	transform: translateY(20vh);
	transition: all 1.5s cubic-bezier(0.4,0,0.2,1);
}

#contact.open {
	transform: translate(0);
}

#contact>* {
	flex: 1;
	padding: 8px;
}

#contact>*:nth-child(3) {
	flex-grow: 2;
}

/*responsive*/

@media (max-width: 1024px) {



}