/*general*/

:root {
	--kv: 8px;
	--lh: calc(13px*1.2);
	--opacity: .333;
	--transition: 1s;
}

body {
	margin: 0;
	padding: 0;
	background-color: #0b0b0b;
}

html.fixed {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

img,
video {
	display: block;
	width: auto;
	height: 100%;
	object-fit: cover;
	/* transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); */
	transition: 1s;
	/* transform: translate3d(0,0,0); */
}

/*fonts*/

@font-face {
	font-family: 'Authentic Sans 90';
	src: url('fonts/authentic-sans-90.otf') format('opentype');
}

@font-face {
	font-family: 'Authentic Sans 130';
	src: url('fonts/authentic-sans-130.otf') format('opentype');
}

a,
span {
	all: unset;
	cursor: pointer;
}

a,
span {
	display: block;
}

h1,
h2,
p,
span,
a,
::before {
	font-family: "Authentic Sans 130", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	color: white;
	letter-spacing: -.02em;
	/* line-height: var(--lh); */
}

/*general*/

header {
	width: calc(100%/3);
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 1s;
	z-index: 999;
	padding: 8px;
}

/*overlay*/

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 9;
	pointer-events: none;
}

#overlay::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	backdrop-filter: blur(0);
	-webkit-backdrop-filter: blur(0);
	mask-image: linear-gradient(to bottom, #0b0b0b 33.333%, transparent);
	height: 5vh;
	background-color: rgba(11, 11, 11, .15);
	transition: var(--transition);
}

/* @media (min-width: 1024px) { */

	#overlay.about::before,
	#overlay.single::before {
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		background-color: rgba(11, 11, 11, .666);
	}

	#overlay.about::before {
		height: 300vh;
	}

	#overlay.single::before {
		height: 100vh;
	}
/* } */

header>* {
	flex: 1;
	display: flex;
}

header>*>* {
	display: flex;
	width: fit-content;
}

#logo div {
	overflow: hidden;
	transition: max-width .666s;
}

#last-name {
	transition: padding .666s;
}

#zz {
	text-transform: uppercase;
}

header:hover #last-name {
	padding-left: .3em;
}

#nav,
.buttons {
	gap: 3px;
}

#nav>* {
	transition: opacity .666s;
}

/* #nav>*:not(:first-child) { */
#nav>*:not(.active) {
	opacity: calc(1/3);
}

#nav>*:hover {
	opacity: 1!important;
}

/*feed*/

#front-page {
	opacity: 0;
	pointer-events: none;
	transition: 1s;
}

#front-page.active {
	opacity: 1;
	pointer-events: auto;
}

#feed {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 3px;
	transition: var(--transition);
}

/* #feed.about {
	pointer-events: none;
}

#feed.about {
	filter: blur(15px);
	opacity: .333;
} */

.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	/* transition: .666s; */
	transition: 1s;
}

.post img {
	max-height: 27.5vh;
}

.post.active,
.post.open {
	overflow: scroll;
}

@media (min-width: 1024px) {
	.post.active img {
		max-height: 33.333vh;
	}

	.post.open img {
		max-height: 75vh;
	}
}

.cover {
	position: relative;
}

.media {
	display: flex;
	gap: 3px;
	/* justify-content: center; */

	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 3px;

	opacity: 0;
	transition: 1s;
}

@media (min-width: 1024px) {

	.post.active .media,
	.post.open .media {
		opacity: 1;
	}

}

.post.hide {
	opacity: .2;
}

.caption {
	position: sticky;
	padding: 0 var(--kv);
	left: 0;
	display: flex;
	width: 100%;
	height: 0;
	/* transition: .666s; */
	transition: 1s;
	bottom: 0;
}

.caption>* {
	flex: 1;
}

.caption .title {
	flex-grow: 3;
}


@media (min-width: 1024px) {
	.post.active:not(.open) .caption {
		height: 30px;
		padding: var(--kv);
	}
}

.post.open .caption {
	height: 0;
	padding: 0 var(--kv);
	overflow: hidden;
}

/*buttons*/

.buttons>*:not(:last-child) *:after,
#nav>*:not(:last-child):after {
	content: ", ";
	transition: 1s;
}

#nav:hover >*:after,
.buttons:hover >* *:after {
	opacity: 0;
}

/*single*/

.single-ui {
	position: fixed;
	z-index: 9;

	top: 0;
	left: 33.333vw;
	width: 66.666%;
	padding: var(--kv) var(--kv) 0;

	display: flex;
	align-items: start;
	justify-content: start;
	/* justify-content: space-between; */
	transition: 1s;
}

.single-ui.about {
	opacity: 0;
}

@media (min-width: 1024px) {
	.single-ui {
		pointer-events: none;
	}

	.single-ui>*:not(.fields) {
		pointer-events: auto;
	}
}

.single-ui>*:not(.fields, #list) {
	height: 0;
	overflow: hidden;
	transition: all .666s;
}

.single-ui.active>*:not(.fields, #list) {
	height: var(--lh);
}

.single-ui>* {
	flex: 1;
}

.single-ui>*:last-child {
	text-align: right;
}

.info-btn span::after {
	content: " +";
}

.single-ui.open .info-btn span::after {
	content: " -";
}

.fields {
	flex-grow: 4;
	opacity: 0;
	pointer-events: none;
	transition: all .666s;
}

.single-ui .fields {
	height: auto;
}

.single-ui.open .fields {
	/* height: 100%; */
	opacity: 1;
}

.fields>*:not(:last-child) {
	margin-bottom: var(--lh);
}

/*list*/

#list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-grow: 2;
}

#list>* {
	transition: all .666s;
	overflow: hidden;
	height: 0;
}

#list>*:not(.active) {
	opacity: .333;
}

#list>*.active {
	height: var(--lh);
}

#list>*.hover {
	height: var(--lh);
	margin-bottom: var(--kv);
}

#list>*:hover {
	opacity: 1;
}

/*about*/

#about {
	position: fixed;
	z-index: 99;
	/* width: 100%; */
	width: calc(100%/3);
	height: 100%;
	top: 0;
	/* left: 0; */
	left: calc(100%/3);
	/* padding: var(--kv) calc(100%/3); */
	padding: var(--kv);

	display: flex;
	flex-direction: column;

	opacity: 0;
	pointer-events: none;
	transition: 1s;

	overflow: scroll;

	/* background-color: rgba(11, 11, 11, .666);

	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px); */

	/* display: none; */
}

#about>*:not(:last-child) {
	margin-bottom: calc(var(--lh) * 5);
}

#about.active {
	opacity: 1;
	pointer-events: auto;
}

#imprint {
	margin-top: auto;
}

#about h2 {
	margin-bottom: var(--kv);
}

#about a {
	color: #b8b8b8;
}

#experience a {
	display: inline-flex;
}

/*archive*/

#archive {
	display: flex;
	flex-wrap: wrap;
	/* width: 100%; */

	position: fixed;
	width: 100%;
	height: 100dvh;
	z-index: 1;

	overflow: scroll;
	opacity: 0;
	pointer-events: none;

	transition: 1s;
}

#archive>* {
	flex: 0 1 25%;
}

#archive img {
	width: 100% !important;
	height: auto !important;
}

#archive.active {
	opacity: 1;
	pointer-events: auto;
}

/*responsive*/

@media (max-width: 1024px) {

	/* :root {
		--lh: calc(13px*1.1);
	}

	h1,
	h2,
	p,
	span,
	a,
	::before {
		font-size: 13px;
	} */

	img,
	video {
		/* width: 100%; */
		height: auto;
	}

	header {
		width: 100%;
	}

	header::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		mask-image: linear-gradient(to bottom, #0b0b0b 33.333%, transparent);
		background-color: rgba(11, 11, 11, .15);
	}

	/* header>* {
		flex: 0;
	} */

	header>*:nth-child(2) {
		flex-grow: 1;
		justify-content: end;
	}

	#list>*.hover {
		margin-top: var(--kv);
		margin-bottom: 0;
	}

	.single-ui {
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
		padding: var(--kv);
		/* width: calc(100vw/2.25); */
		width: 100%;
		align-items: end;
	}

	.single-ui .fields {
		position: fixed;
		left: 0;
		bottom: calc(32px + var(--lh));
		padding: 0 var(--kv);
	}

	.caption>*:first-child {
		display: none;
	}

	#list,
	.caption .title {
		flex: 2;
	}

	.caption>*:last-child,
	.close-btn {
		text-align: right;
		flex: .5;
	}

	.caption {
		position: relative;
		background: #0b0b0b;
	}

	.post.active:not(.open) .caption {
		padding: var(--kv) var(--kv) 0;
		height: 24px;
	}

	.post {
		justify-content: start;
		/* height: 27.5vh; */
		position: relative;
	}

	.post.active {
		overflow: hidden;
		/* height: calc(27.5vh + 24px); */
	}

	/* .post.open {
		height: 100dvh;
	} */

	.post .cover {
		/* overflow: hidden; */
		width: 100%;
	}

	.post.open .cover {
		overflow: visible;
	}

	.post img {
		margin: 0 auto;
	}

	.post.open img {
		width: 100% !important;
		max-height: 200vh;
	}

	.media {
		flex-direction: column;
		top: 100%;
		left: 0;
		margin-left: 0;
		width: 100%;
		position: absolute;
		/* opacity: 0; */
		gap: 0;

		/* max-height: 0; */
		/* overflow: hidden; */

		opacity: 1;
	}

	.media img {
		width: 100vw !important;
		margin-top: 3px;
		max-height: initial;
	}

	.post.open .media {
		opacity: 1;
	}

	#overlay {
		top: auto;
		bottom: 0;
	}

	#overlay::before {
		mask-image: linear-gradient(to top, #0b0b0b 33.333%, transparent);
		top: auto;
		left: 0;
		bottom: 0;
		right: 0;
	}

	#about {
		width: 100%;
		left: 0;
		padding: calc(var(--kv) + var(--lh)*3) var(--kv) var(--kv);
	}

	#archive>* {
		flex: 0 1 50%;
	}

}